@import reset.scss

// font-family: "PT Serif'", serif
// font-family: "Roboto Condensed", sans-serif

$title-fonts: "PT Serif'", serif
$text-fonts: "Roboto Condensed", sans-serif

$color-white: #ffffff
$color-text: #888888
$color-short-title: #000000

a
    outline: none !important
    text-decoration: none

.container
    max-width: 1200px
    margin: 0 auto
    padding: 0 15px

.header_logo
    padding: 88px 0 60px 0
    text-align: center
    border-bottom: 2px solid #C4C4C4

.menu-list
    display: flex
    justify-content: center

.list_item
    border: 2px solid #C4C4C4
    border-top: none
    max-width: 300px
    height: 100px
    display: flex
    align-items: center
    &:nth-child(1)
        border-right: none
    &:nth-child(2)
        border-right: none
    &:nth-child(3)
        border-right: none
            
.item-link
    font-family: $text-fonts
    font-size: 24px
    line-height: 28px
    color: $color-text
    white-space: nowrap
    padding: 35px 100px
    text-align: center
    transition: .3s
    &:hover
        color: $color-white
        background-color: #020202

.header-slider
    width: 100%
    overflow: hidden
    position: relative

.slider-wrapper
    width: 100%
    height: 100%
    display: flex
    
.header-slide
    width: 100%
    flex-shrink: 0
    margin-bottom: 60px

.slide-img
    width: 100%

.swiper-button-next
    background-image: url(../images/header-arrow-right.svg)
    width: 68px
    height: 68px
    content: none
    border-radius: 50%
    &:after
        content: none

.swiper-button-prev
    background-image: url(../images/header-arrow-left.svg)
    width: 68px
    height: 68px
    content: none
    border-radius: 50%
    &:after
        content: none

.header_wrapper
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 70px

.header_search-text
    font-size: 24px
    line-height: 24px
    font-family: $text-fonts
    color: $color-text  

.header_form-search
    display: flex

.form_search-info
    margin-left: 69px
    width: 431px
    font-size: 18px
    line-height: 24px
    padding: 23px 0 23px 15px
    color: $color-text
    border: 2px solid #C4C4C4

.form_search-btn
    font-family: $text-fonts
    font-size: 24px
    line-height: 24px
    width: 121px
    background-color: #C4C4C4
    border: 2px solid #C4C4C4
    color: $color-white
    padding: 15px

.about_main-title
    font-size: 48px
    line-height: 64px
    color: $color-white
    font-family: $title-fonts
    background-color: $color-short-title
    text-align: center
    padding: 18px 0
    margin-bottom: 118px

.about_inner
    display: flex
    justify-content: space-between
    margin-bottom: 200px

.about_cards-item
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center

.item-img
    margin-bottom: 30px

.item_short-title
    margin-bottom: 43px
    font-family: $text-fonts
    color: $color-text
    line-height: 24px
    font-size: 24px
    max-width: 195px


.item_text-info
    color: $color-white
    font-size: 18px
    line-height: 24px
    font-family: $text-fonts
    background-color: #C4C4C4
    border: 2px solid #C4C4C4
    padding: 11px 47px

.about_inner-info
    display: flex
    justify-content: space-around

.about_top-content
    display: flex

.top_content-title
    font-family: $title-fonts
    color: $color-short-title
    font-size: 36px
    line-height: 36px
    padding: 0 0 20px 33px
    max-width: 350px

.about_info-text
    color: $color-short-title
    font-size: 18px
    line-height: 24px
    font-family: $text-fonts
    max-width: 470px
    padding-bottom: 45px
 
.about_info-btn
    font-size: 18px
    line-height: 24px
    font-family: $text-fonts
    color: $color-text
    text-decoration: underline
    margin-left: 6px
    vertical-align: middle






    